
prueba back/.vs/prueba/FileContentIndex/5522d349-a567-466e-8929-468d0bcc0329.vsidx
prueba back/.vs/prueba/FileContentIndex/77358562-74e4-4f10-ba96-5d55aa9cb79b.vsidx
prueba back/.vs/prueba/FileContentIndex/97938ba0-d0ba-4d16-9ca0-0d6da5382b06.vsidx
prueba back/.vs/prueba/FileContentIndex/f2ce00fd-098b-452c-b41b-58629b834700.vsidx
prueba back/Prueba/obj/Debug/net6.0/Prueba.AssemblyInfo.cs
prueba back/Prueba/obj/Debug/net6.0/Prueba.AssemblyInfoInputs.cache
prueba back/Prueba/obj/Debug/net6.0/Prueba.assets.cache
prueba back/Prueba/obj/Debug/net6.0/Prueba.csproj.AssemblyReference.cache
prueba back/Prueba/obj/Debug/net6.0/Prueba.GeneratedMSBuildEditorConfig.editorconfig
prueba back/Prueba/obj/project.assets.json
prueba back/Prueba/obj/project.nuget.cache
prueba back/Prueba/obj/Prueba.csproj.nuget.dgspec.json
